/* sidebar */
.sidebar-div {
  width: 20%;
  height: 100%;
  background-color: #0985aa;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.username {
  color: orange;
  font-family: sans-serif;
  font-size: 17px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.sidebar {
  width: 20%;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.routes {
  width: 90%;
  margin: auto;
  padding-left: 10px;
}
.route-button {
  width: 90%;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-left: 20px;
  border: 2px solid rgb(173, 168, 168);
  color: white;
  font-family: cursive;
  font-size: 13px;
}
.route-button:hover {
  background-color: rgb(206, 151, 48);
  border: 2px solid white;
}
.route-icon {
  width: 28px;
  height: 28px;
}
.admin-main-div {
  width: 100%;
  height: 100%;
  padding-left: 21%;
  padding-top: 80px;
}
.admin-blog-card-div {
  width: 100%;
  height: 190px;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin-blog-card-div:hover {
  box-shadow: 5px 5px 5px rgb(151, 150, 150);
  background-color: rgb(246, 242, 242);
}
.admin-blog-card {
  width: 90%;
  height: 200px;
  display: flex;
}
.admin-blog-image {
  width: 30%;
  height: 90%;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
.admin-blog-title {
  width: 70%;
  height: 90%;
  padding: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 17px;
  text-wrap: wrap;
  margin-top: 5px;
}
.admin-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-edit-button {
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: orange;
  border-radius: 10px;
  margin-right: 10px;
}
.admin-edit-button:hover {
  background-color: rgb(202, 152, 58);
}
.delete-button {
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: red;
  border-radius: 10px;
  margin-right: 10px;
}
.delete-button:hover {
  background-color: rgb(205, 65, 65);
}

/* ADMIN APPOINTMENT  */
.admin-appointment-card {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding: 7px;
  margin-bottom: 15px;
}
.admin-appointment-card:hover {
  background-color: rgb(242, 239, 239);
  box-shadow: 5px 5px 5px rgb(208, 207, 207);
}
.appointment-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 5px;
}
.appointment-email {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(45, 44, 44);
}
.appointment-date {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(45, 44, 44);
}
.appointment-time {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(45, 44, 44);
}

/* ADMIN USER */
.admin-user-card {
  width: 100%;
  height: 65px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding: 7px;
  margin-bottom: 15px;
}
.admin-user-card:hover {
  background-color: rgb(242, 239, 239);
  box-shadow: 5px 5px 5px rgb(208, 207, 207);
}
.user-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 5px;
}
.user-fullname {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(45, 44, 44);
}
.user-email {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(45, 44, 44);
}
.user-phone {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(45, 44, 44);
}
.user-address {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: rgb(45, 44, 44);
}

/* Profile  */
.profile-div {
  width: 80%;
  margin: auto;
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 20%;
  right: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.inner-div {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 10px;
  justify-content: flex-end;
  gap: 30px;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
}
.logout-button {
  width: 60px;
  height: 35px;
  padding: 5px;
  border: none;
  font-weight: bold;
  font-size: 11px;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  color: red;
}
.dashboard-button {
  width: 50px;
  height: 40px;
}
.dashboard-icon {
  width: 30px;
  height: 30px;
  color: rgb(17, 16, 16);
}
.create-blog-div {
  width: 100%;
  height: 100%;
}
.title-label {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 30px;
}
.create-blog-title {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  outline: rgb(98, 186, 241);
  border: 2px solid rgb(98, 186, 241);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: black;
  padding: 15px;
}
.content-label {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 30px;
}
.blog-content {
  width: 70%;
  height: 300px;
  border-radius: 10px;
  outline: rgb(98, 186, 241);
  border: 2px solid rgb(98, 186, 241);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: black;
  padding: 15px;
}
.upload-button {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(21, 21, 215);
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}
.upload-button:hover{
  background-color: rgb(54, 54, 239);
}

/* RESPONSIVE SCREENS */
@media (min-width: 300px) and (max-width: 600px) {
  /* sidebar */
  .sidebar-div {
    width: 20%;
    height: 100%;
    background-color: #0985aa;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .username {
    color: orange;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-weight: bolder;
  }

  .sidebar {
    width: 20%;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .routes {
    width: 100%;
    margin: auto;
    padding-left: 5px;
  }
  .route-button {
    width: 100%;
    /* height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center; */
    margin-bottom: 20px;
    margin-left: -4px;
    padding-right: 17px;
    border-radius: 10px;
    border: 2px solid rgb(173, 168, 168);
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 10px;
  }
  .route-button:hover {
    background-color: rgb(202, 23, 23);
    border: 2px solid white;
  }
  .route-icon {
    width: 25px;
    height: 25px;
  }
  .admin-main-div {
    width: 100%;
    height: 100%;
    padding-left: 21%;
    padding-top: 100px;
  }
  .admin-blog-card-div {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .admin-blog-card-div:hover {
    box-shadow: 5px 5px 5px rgb(151, 150, 150);
    background-color: rgb(246, 242, 242);
  }
  .admin-blog-card {
    width: 90%;
    height: 100px;
    display: flex;
  }
  .admin-blog-image {
    width: 30%;
    height: 70%;
    border-radius: 15%;
    margin-top: 10px;
    margin-left: 5px;
  }
  .admin-blog-title {
    width: 60%;
    height: 90%;
    padding: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    font-size: 12px;
    text-wrap: wrap;
    margin-top: 2px;
  }
  .admin-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .admin-edit-button {
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: orange;
    border-radius: 10px;
    margin-right: 7px;
  }
  .admin-edit-button:hover {
    background-color: rgb(202, 152, 58);
  }
  .delete-button {
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: red;
    border-radius: 10px;
    margin-right: 7px;
  }
  .delete-button:hover {
    background-color: rgb(205, 65, 65);
  }

  /* ADMIN APPOINTMENT  */
  .admin-appointment-card {
    width: 90%;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 7px;
    margin-bottom: 5px;
  }
  .admin-appointment-card:hover {
    background-color: rgb(242, 239, 239);
    box-shadow: 5px 5px 5px rgb(208, 207, 207);
  }
  .appointment-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 3px;
  }
  .appointment-email {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .appointment-date {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .appointment-time {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }

  /* ADMIN USER */
  .admin-user-div {
    width: 100%;
    height: 100%;
  }
  .admin-user-card {
    width: 100%;
    height: 200px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    padding: 7px;
    margin-bottom: 20px;
    padding-left: 5px;
  }
  .admin-user-card:hover {
    background-color: rgb(242, 239, 239);
    box-shadow: 5px 5px 5px rgb(208, 207, 207);
  }
  .user-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 5px;
  }
  .user-fullname {
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: orange;
  }
  .user-email {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .user-phone {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .user-address {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  /* Profile  */
  .profile-div {
    width: 80%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
  }
  .inner-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px gray;
  }
  .logout-button {
    width: 60px;
    height: 35px;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: rgb(230, 30, 30);
  }
  .dashboard-button {
    width: 50px;
    height: 40px;
  }
  .dashboard-icon {
    width: 35px;
    height: 35px;
    color: rgb(8, 58, 114);
  }
  /* CREATE BLOG DIV */
  .create-blog-div {
    padding: 5px;
    width: 100%;
    height: 100%;
  }
  .title-label {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 30px;
  }
  .create-blog-title {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: rgb(98, 186, 241);
    border: 2px solid rgb(98, 186, 241);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15px;
    color: black;
    padding: 15px;
  }
  .content-label {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 30px;
  }
  .blog-content {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    outline: rgb(98, 186, 241);
    border: 2px solid rgb(98, 186, 241);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15px;
    color: black;
    padding: 15px;
  }
  .upload-button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(21, 21, 215);
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
  }
  .upload-button:hover{
    background-color: rgb(54, 54, 239);
  }
  
}
@media (min-width: 601px) and (max-width: 900px) {
  /* sidebar */
  .sidebar-div {
    width: 20%;
    height: 100%;
    background-color: #0985aa;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .username {
    color: orange;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 12px;
    font-weight: bolder;
  }

  .sidebar {
    width: 20%;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .routes{
    width: 100%;
    padding-left: 4px;
    height: 70px;
  }
  .route-button{
    width: 100%;
    margin-bottom: 20px;
    margin-left: -4px;
    padding-right: 17px;
    border-radius: 10px;
    border: 2px solid rgb(173, 168, 168);
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 10px;
  }
  .route-button:hover{
    background-color: rgb(202, 23, 23);
    border: 2px solid white;
  }
  .route-icon{
    width: 20px;
    height: 20px;
  }
  .route-text{
    visibility: hidden;
  }
  .admin-main-div {
    width: 100%;
    height: 100%;
    padding-left: 21%;
    padding-top: 40px;
  }
  .admin-blog-card-div {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .admin-blog-card-div:hover {
    box-shadow: 5px 5px 5px rgb(151, 150, 150);
    background-color: rgb(246, 242, 242);
  }
  .admin-blog-card {
    width: 90%;
    height: 150px;
    display: flex;
  }
  .admin-blog-image {
    width: 30%;
    height: 70%;
    border-radius: 15%;
    margin-top: 10px;
    margin-left: 5px;
  }
  .admin-blog-title {
    width: 60%;
    height: 90%;
    padding: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-wrap: wrap;
    margin-top: 2px;
  }
  .admin-actions {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 10px;
    gap: 8px;
  }
  .admin-edit-button {
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: orange;
    border-radius: 10px;
    margin-right: 7px;
  }
  .admin-edit-button:hover {
    background-color: rgb(202, 152, 58);
  }
  .delete-button {
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: red;
    border-radius: 10px;
    margin-right: 7px;
  }
  .delete-button:hover {
    background-color: rgb(205, 65, 65);
  }

  /* ADMIN APPOINTMENT  */
  .admin-appointment-card {
    width: 90%;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 7px;
    margin-bottom: 5px;
  }
  .admin-appointment-card:hover {
    background-color: rgb(242, 239, 239);
    box-shadow: 5px 5px 5px rgb(208, 207, 207);
  }
  .appointment-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 3px;
  }
  .appointment-email {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .appointment-date {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .appointment-time {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }

  /* ADMIN USER */
  .admin-user-div {
    width: 100%;
    height: 100%;
  }
  .admin-user-card {
    width: 100%;
    height: 100px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    padding: 7px;
    margin-bottom: 20px;
    padding-left: 5px;
  }
  .admin-user-card:hover {
    background-color: rgb(242, 239, 239);
    box-shadow: 5px 5px 5px rgb(208, 207, 207);
  }
  .user-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 5px;
  }
  .user-fullname {
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: orange;
  }
  .user-email {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .user-phone {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .user-address {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  /* Profile  */
  .profile-div {
    width: 80%;
    margin: auto;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .inner-div {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-right: 10px;
    justify-content: flex-end;
    gap: 30px;
  }
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px gray;
  }
  .logout-button {
    width: 60px;
    height: 35px;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: red;
  }
  .dashboard-button {
    width: 50px;
    height: 40px;
  }
  .dashboard-icon {
    width: 30px;
    height: 30px;
    color: rgb(16, 15, 15);
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  /* sidebar */
  .sidebar-div {
    width: 20%;
    height: 100%;
    background-color: #0985aa;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .username {
    color: orange;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    font-size: 17px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .sidebar {
    width: 20%;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .routes {
    width: 95%;
    margin: auto;
    padding-left: 5px;
  }
  .route-button {
    width: 90%;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 20px;
    border: 2px solid rgb(173, 168, 168);
    color: white;
    font-family: cursive;
    font-size: 13px;
  }
  .route-button:hover {
    background-color: rgb(202, 23, 23);
    border: 2px solid white;
  }
  .route-icon {
    width: 28px;
    height: 28px;
  }
  .admin-main-div {
    width: 100%;
    height: 100%;
    padding-left: 21%;
    padding-top: 40px;
  }
  .admin-blog-card-div {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .admin-blog-card-div:hover {
    box-shadow: 5px 5px 5px rgb(151, 150, 150);
    background-color: rgb(246, 242, 242);
  }
  .admin-blog-card {
    width: 90%;
    height: 180px;
    display: flex;
  }
  .admin-blog-image {
    width: 30%;
    height: 80%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 7px;
  }
  .admin-blog-title {
    width: 70%;
    height: 90%;
    padding: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-wrap: wrap;
    margin-top: 5px;
  }
  .admin-actions {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 10px;
    gap: 10px;
  }
  .admin-edit-button {
    width: 130px;
    height: 45px;
    text-align: center;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: orange;
    border-radius: 10px;
    margin-right: 10px;
  }
  .admin-edit-button:hover {
    background-color: rgb(202, 152, 58);
  }
  .delete-button {
    width: 130px;
    height: 45px;
    text-align: center;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: red;
    border-radius: 10px;
    margin-right: 10px;
  }
  .delete-button:hover {
    background-color: rgb(205, 65, 65);
  }

  /* ADMIN APPOINTMENT  */
  .admin-appointment-card {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 7px;
    margin-bottom: 15px;
  }
  .admin-appointment-card:hover {
    background-color: rgb(242, 239, 239);
    box-shadow: 5px 5px 5px rgb(208, 207, 207);
  }
  .appointment-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 5px;
  }
  .appointment-email {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    color: rgb(45, 44, 44);
  }
  .appointment-date {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    color: rgb(45, 44, 44);
  }
  .appointment-time {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    color: rgb(45, 44, 44);
  }

  /* ADMIN USER */
  .admin-user-div {
    width: 100%;
    height: 100%;
  }
  .admin-user-card {
    width: 100%;
    height: 100px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    padding: 7px;
    margin-bottom: 20px;
    padding-left: 5px;
  }
  .admin-user-card:hover {
    background-color: rgb(242, 239, 239);
    box-shadow: 5px 5px 5px rgb(208, 207, 207);
  }
  .user-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 5px;
  }
  .user-fullname {
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: orange;
  }
  .user-email {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .user-phone {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  .user-address {
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    color: rgb(45, 44, 44);
  }
  /* Profile  */
  .profile-div {
    width: 80%;
    margin: auto;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .inner-div {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-right: 10px;
    justify-content: flex-end;
    gap: 30px;
  }
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px gray;
  }
  .logout-button {
    width: 60px;
    height: 35px;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: red;
  }
  .dashboard-button {
    width: 50px;
    height: 40px;
  }
  .dashboard-icon {
    width: 30px;
    height: 30px;
    color: rgb(23, 22, 22);
  }
}
